/* ==================== 
LAYOUT GENERAL
 ==================== */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout__content {
  flex: 1;
  overflow: hidden;
  overflow: auto;
}

/* ==================== 
NAVBAR
 ==================== */
.navbar {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 50;

  display: flex;
  justify-content: center;
}

.navbar__container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__shop {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.navbar__cart {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbar__cart:hover {
  color: #00a650;
}

/* ==================== 
FOOTER
 ==================== */
.footer {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
}

.footer__container {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 1rem;
}

.footer__text {
  margin: 0;
  font-size: 1rem;
}

.footer__item {
  text-decoration: none;
}
