/* ==================== PRODUCTS ==================== */
.products__loading,
.products__error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 1.5rem;
  font-weight: bold;
}

.products__title {
  text-align: center;
  margin: 3rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.product__card {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product__card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.product__name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;

  height: 4rem;
  display: flex;
}

.product__description {
  font-size: 14px;
  color: #555;
  margin-bottom: 0.2rem;

  height: 4rem;
  display: flex;
}

.product__category {
  font-size: 13px;
  color: #777;
  margin-bottom: 0.2rem;

  height: 2rem;
  display: flex;
}

.product__price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #00a650;
}

.product__btn {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
  background-color: #000;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.product__btn:hover {
  background-color: #0f9d58;
}

.product__icon {
  color: #ff6600;
  font-size: 1rem;
}
