.cart__details {
  position: absolute;
  top: 3rem;
  right: -10rem;
  width: 250px;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0.5rem;
  border-radius: 5px;
}

.cart__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 0;
  border-bottom: 1px solid #eee;
}

.cart__item:last-child {
  border-bottom: none;
}

.cart__name,
.cart__price,
.cart__quantity {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.cart__name {
  width: 150px;
}

.cart__price,
.cart__quantity {
  width: 50px;
}
